<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

    <!-- boostrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--  -->


</head>
<body>
    <div class="container ">
        <form action="upload" method="post" enctype="multipart/form-data">
            <h1 class="text-center ">เพิ่มสินค้า</h1>
            <input class="form-control " type="text" name="productname" placeholder="Product Name">
            <input class="form-control " type="text" name="type" placeholder="Product Type">
            <input class="form-control " type="text" name="price" placeholder="Price">
            <input class="form-control " type="text" name="quantity" placeholder="Quantity">
            <input class="form-control " type="file" name="img" accept="image/*">
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-primary " type="submit" >ยืนยันเพิ่ม</button>
            </div>
            
        </form>
    </div>
    


<!-- boostrap js -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--  -->
    
</body>
</html>