<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> QR code </title>
</head>
<body>
    <div>
        <input type="text" id="amount" placeholder="price"> 
        <button onclick="genQR(event)">generate</button>
    </div>
    <img src="" id="imgQr" style="width: 250px; object-fit: contain;">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function genQR(event) {
            event.preventDefault();
            $.ajax({
                url: '/generateqrcode',
                method: 'post',
                contentType: "application/json",
                data: JSON.stringify({
                    amount: parseFloat($('#amount').val())
                }),
                success: function(response) {
                    console.log("res ajax", response);
                    $('#imgQr').attr('src', response.Result); // เปลี่ยนจาก Reult เป็น Result
                },
                error: function(err) {
                    console.log('err ajax', err);
                },
            });
        }
    </script>
</body>
</html>