<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติ</title>
    <!-- boostrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--  -->

 
</head>
<body>
    <div class="container-fluid mt-0 pb-2"
    style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
      <a class="navbar-brand" style="height: 50px;width: 200px;" href="menu">
        <img style="width:100%; height:40px;" src="/img/logo-sm.png" alt="">
      </a>
    </nav>
</div>
    
<div class="container-sm  pt-2 border  rounded mb-3 " style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120);background-color: #ffffff; " >
    <form action="check-order" method="post" >
        <div class="d-flex justify-content-between ">
            <div>
            <div class="p-1 rounded" style="border: 1px solid #e5e5e5; background-color: #e5e5e5; ">
                <strong>หมายเลขใบเสร็จ: 123456</strong>
            </div>
            
        </div>
        <div class="p-1 rounded">
            <strong>1000.00 บาท</strong>
                
        </div>     
        </div>
        

        <hr>
        <div class="d-flex justify-content-between pb-2">
            <div class=" text-black ">
                วันที่ 13/เมษา/2555   เวลา 4.23 น.
            </div>
            <a href="receipt" class="btn btn-primary " >ดูรายละเอียด</a>
            
        </div>            
    </form> 
        
</div>



     


           
   

    



  <!-- boostrap js -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--  -->    
</body>
</html>