<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติ</title>
    <!-- boostrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--  -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      *{
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      font-style: normal;
      }
    </style>
 
</head>
<body>
  <div class="container-fluid mt-0 "
    style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-flex"  href="/menu">
        <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
        <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
      </a>
      
    </nav>
</div>
    <H1 class=" mt-2 text-center">ประวัติการขาย</H1>

   
    

<div class="container ps-4 d-grid" >
  <div class="row">
    <% result.forEach(items => { %>
    <div class="col col-xl-3 my-2">
      <form method="post" action="/history_info" >
      <div class="card " style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120);background-color: #ffffff; width: 18rem;" >
        <div class="card-body ">
          <h5 class="card-title">ร้าน: <%= items.name_shop %> </h5>
          <p class="card-text" style="font-size: 15px;"> 
          ชื่อลูกค้า : ยายดี<br>
          เบอร์ติดต่อลูกค้า : 087775500 <br>
        
          วันที่ : <%= items.date_time  %> 
          </p>
          <div>
            <h5 class="text-center  p-2" style="border-radius: 15px; background-color: rgb(114, 255, 111);">ยอดรวม: <%= items.summary %> บาท</h5>
          </div>
          <div class="d-flex justify-content-center">
            <button href="#" class="btn btn-primary">ดูรายละเอียด</button>
          </div>
          

          <!-- history_id  -->
          <input class="d-none" name="history_id" value="<%= items.id %>" >
        </div>
      </div> 
    </form> 

    </div>
    
    <% }); %>
  </div>
    
</div>




  <!-- boostrap js -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--  -->    
</body>
</html>