<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <h1>User Information</h1>
    <ul >
            <li>Username: <%=data.id %></li>
            <li>Username: <%=data.username %></li>
            <li>Password: <%=data.password %></li>
            <li>Username: <%=data.fullname %></li>
        
    </ul>
</body>
</html>



