
<h1>Hello</h1>
<h1>User Information</h1>
    <ul>
        <li>ID: <%=result.id %></li>
        <li>Username: <%=result.username %></li>
        <li>Password: <%=result.password %></li>
        <li>Fullname: <%=result.fullname %></li>
    
</ul>

