<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ชื่อร้าน</title>


  <!-- boostrap css -->

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <!--  -->

  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 

  <style>
  *{
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      font-style: normal;
      }
    a {
      font-size: 2rem !important;
    }

    button {
      font-size: 2rem !important;
    }

    .modal-header,
    .modal-footer {
      border: none;
      /* Remove the borders */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-title img {
      display: block;
    }

    .modal-body {
      text-align: center;
    }
  </style>

</head>

<body>
    <% if (typeof messageerror !=='undefined' ) {%>
    <!-- Modal -->
    <div class="modal fade " id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content " style="border-radius: 30px;">
          <div class="modal-header">
            <h5 class="modal-title" id="successModal">
              <img src=" /img/check.png" style="height: 50px; width: 50px;">
            </h5>
          </div>
          <div class="modal-body" style="font-size: 30px;">
            <%= messageerror %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <script>
      setTimeout(() => {
        window.location.href = '../../menu';
      }, 1000); 
    </script>

    <% } %>

      <div class="container-fluid mt-0 "
        style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
          <a class="navbar-brand d-flex"  href="#">
            <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
            <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
          </a>    
        </nav>
      </div>
      <div class="mt-2">
        <br>
      </div>

      <div class="container mt-2">
        <a href="home" class="btn   form-control py-4  " style="background:#5ffb75;">
          ระบบขายสินค้า
        </a>
      </div>
 
      <div class="container mt-2">
        <a href="qrcode" class="btn   form-control py-4  " style="background:#FFA200">
          ระบบการค้างชำระเงิน
        </a>
      </div>

      <div class="container mt-2">
        <a href="add_product" class="btn   form-control py-4  " style="background:#b6f823;">
          เพิ่มสินค้าใหม่
        </a>
      </div>

      <div class="container mt-2">
        <form method="post" action="/history_card">
          <button type="submit" class="btn  form-control py-4" style="background: #d5e800;">ดูประวัติการขาย</button>
        </form>
      </div>

      
      <div class="container mt-2">
        <a href="stock" class="btn   form-control py-4  " style="background:#F0c600">
          สต็อกสินค้า
        </a>
      </div>
      
      <div class="container mt-2">
        <a href="qrcode" class="btn   form-control py-4  " style="background:#FFA200">
          QR Code
        </a>
      </div>

      <div class="container mt-2">
        <form action="./api/auth/logout" method="post">
          <button class="btn btn-danger   form-control py-4  " type="submit">Logout</button>
        </form>
      </div>


      <!-- boostrap js -->
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!--  -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


      <% if (typeof messageerror !=='undefined' ) {%>

        <script>
          // Check if there is a message success and show the modal
          var successModal = new bootstrap.Modal(document.getElementById('successModal'));
          successModal.show();
        </script>
      <% } %>

</body>

</html>