<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ชื่อร้าน</title>


  <!-- boostrap css -->

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <!--  -->

  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 

  <style>
  *{
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      font-style: normal;
      }
    a {
      font-size: 2rem !important;
    }

    button {
      font-size: 2rem !important;
    }

    .modal-header,
    .modal-footer {
      border: none;
      /* Remove the borders */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-title img {
      display: block;
    }

    .modal-body {
      text-align: center;
    }
  </style>

</head>

<body>
    

      <div class="container-fluid mt-0 "
        style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
          <a class="navbar-brand d-flex"  href="#">
            <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
            <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
          </a>    
        </nav>
      </div>
      <div class="mt-2">
        <br>
      </div>

      <div class="container mt-2">
        <a href="home" class="btn   form-control py-4  " style="background:#8fe93b;">
          ระบบขายสินค้า
          <img src="/img/cart.png" style="max-width: 2rem; height:auto; margin-left: 10px;">
        </a>
      </div>
 
      <div class="container mt-2">
        <a href="qrcode" class="btn   form-control py-4  " style="background:#9BCF53 ">
          ระบบการค้างชำระเงิน
          <img src="/img/cashback.png" style="max-width: 2rem; height:auto; margin-left: 10px;">
        </a>
      </div>

      <div class="container mt-2">
        <a href="add_product" class="btn   form-control py-4  " style="background:#a9dd60 ;">
          เพิ่มสินค้าใหม่
          <img src="/img/add.png" style="max-width: 2rem; height:auto; margin-left: 10px;">
        </a>
      </div>

      <div class="container mt-2">
        <form method="post" action="/history_card">
          <button type="submit" class="btn  form-control py-4" style="background: #BFEA7C ;">
            ดูประวัติการขาย
            <img src="/img/folder.png" style="max-width: 2rem; height:auto; margin-left: 10px;">
          </button>
        </form>
      </div>

      
      <div class="container mt-2">
        <a href="stock" class="btn   form-control py-4  " style="background:#a9dd60 ">
          สต็อกสินค้า
          <img src="/img/inventory (3).png" style="max-width: 2rem; height:auto; margin-left: 10px;">
        </a>
      </div>
      
      <div class="container mt-2">
        <a href="qrcode" class="btn   form-control py-4  " style="background:#9BCF53 ">
          QR Code
          <img src="/img/qr-code.png" style="max-width: 2rem; height:auto; margin-left: 10px;">
        </a>
      </div>

      <div class="container mt-2">
        <form action="./api/auth/logout" method="post">
          <button class="btn   form-control py-4  " type="submit" style="background:#416D19 ; color: wheat;">
            Logout
            <img src="/img/enter.png" style="max-width: 2rem; height:auto; margin-left: 10px;">
          </button>
        </form>
      </div>


      <!-- boostrap js -->
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!--  -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


      <% if (typeof message_success !=='undefined' ) { %>
        <input type="hidden" id="message_alert" value="<%=message_success %>">
        <script>
    
          $(document).ready(function () {
            var messageerror = $('#message_alert').val()
            const Toast = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
              }
            });
            Toast.fire({
              icon: "success",
              title: messageerror
            }).then(function () {
              window.location.href = '/menu';
            });
          });
    
        </script>
        <% } %>

</body>

</html>