<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ชื่อร้าน</title>


  <!-- boostrap css -->

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <!--  -->

  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">



  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      font-style: normal;
    }


    .modal-header,
    .modal-footer {
      border: none;
      /* Remove the borders */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-title img {
      display: block;
    }

    .modal-body {
      text-align: center;
    }
  </style>

</head>

<body style="background-image: linear-gradient(to top, #ffeab9, #ffe7d3, #ffedf0, #fff7ff, #ffffff);">


  <div class="container-fluid mt-0 " style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-flex" href="#">
        <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
        <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
      </a>
    </nav>
  </div>
  <div class="mt-2 ">
    <br>
  </div>
  <div class="container">
    <div class="row">


      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item "
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card pt-2 rounded-4" id="product-items" style="width: 85%; height: 7rem;;background:#ffa469 ;">
            <a href="home" class="btn form-control d-flex justify-content-center  align-items-center">
              <img src="/img/cart.png" style="height: 80px !important; object-fit: contain;" class="me-2">
              
                <p class="card-title text-center" style="font-size:20px"  >
                 ระบบขายสินค้า
                </p>
              
            </a>
          </div>
        </div>
      </div>

      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item"
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card pt-2 rounded-4" id="product-items" style="width: 85%; height: 7rem;;background:#ffb465 ;">
            <a href="add_product" class="btn form-control d-flex justify-content-center  align-items-center">
              <img src="/img/add.png" style="height: 80px !important; object-fit: contain;" class="me-2">
              
                <p class="card-title text-center  " style="font-size:20px">
                  เพิ่มสินค้าใหม่
                </p>
              
            </a>
          </div>
        </div>
      </div>

      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item"
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card pt-2 rounded-4 " id="product-items" style="width: 85%; height: 7rem;;background:#efe363 ;">
            <a href="#" class="btn form-control d-flex justify-content-center  align-items-center">
              <img src="/img/in-stock.png" style="height: 80px !important; object-fit: contain;" class="me-2">

              <p class="card-title text-center  " style="font-size:20px">
                สต็อกสินค้า
              </p>

            </a>
          </div>
        </div>
      </div>

      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item"
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card pt-2 rounded-4" id="product-items" style="width: 85%; height: 7rem;;background:#efef63 ;">
            <form method="post" action="/history_card">
              <button type="submit" class="btn form-control d-flex d-flex justify-content-center  align-items-center">
                <img src="/img/folder.png" style=" height: 70px !important;object-fit: contain;" class="me-2">
                
                <p style="font-size:20px" >ดูประวัติการขาย</p>
               
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item"
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card pt-2 rounded-4" id="product-items" style="width: 85%; height: 7rem;;background:#d1ff65 ;">
            <a href="/paylater_page" class="btn form-control d-flex justify-content-center  align-items-center">
              <img src="/img/cashback.png" style="height: 70px !important; object-fit: contain;" class="me-2">

              <p class="card-title text-center  " style="font-size:20px">
                ระบบการค้างชำระเงิน
              </p>

            </a>
          </div>
        </div>
      </div>

      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item"
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card pt-2 rounded-4" id="product-items" style="width: 85%; height: 7rem;;background:#78ff57 ;">
            <a href="update_store" class="btn form-control d-flex justify-content-center  align-items-center ">
              <img src="/img/setting.png" style="height: 80px !important; object-fit: contain;" class="me-2">

              <p class="">
                แก้ไขข้อมูลร้าน
              </p>

            </a>
          </div>
        </div>
      </div>

      <div class="col col-12 col-xl-5 mt-2 mx-2 product-item"
      style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
      <div class="d-flex justify-content-center ">
        <div class="card pt-2 rounded-4" id="product-items" style="width: 85%; height: 7rem;;background:#00FF20 ;">
          <a href="update_store" class="btn form-control d-flex justify-content-center  align-items-center ">
            <img src="/img/line.png" style="height: 80px !important; object-fit: contain;" class="me-2">

            <p class="">
              เพิ่มระบบแจ้งเตือนผ่านไลน์
            </p>

          </a>
        </div>
      </div>
    </div>

      <div class="col col-12 col-xl-5 mt-2 mx-1 product-item"
        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
        <div class="d-flex justify-content-center ">
          <div class="card rounded-4" id="product-items" style="width: 85%; height: 7rem;background:#34BC45 ; ">
            <form action="./api/auth/logout" method="post" class=" ">
              <button class="btn form-control   d-flex justify-content-center  align-items-center" type="submit"
                style="color: white;">
                <img src="/img/enter.png" style="height: 80px !important; object-fit: contain;" class="me-2">
                <p class="">
                  ออกจากระบบ
                </p>
              </button>
            </form>
          </div>
        </div>
      </div>



    </div>



  </div>
  <br><br><br><br><br><br><br><br><br><br><br>






  <!-- boostrap js -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--  -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <% if (typeof message_success !=='undefined' ) { %>
    <input type="hidden" id="message_alert" value="<%=message_success %>">
    <script>

      $(document).ready(function () {
        var messageerror = $('#message_alert').val()
        const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
          }
        });
        Toast.fire({
          icon: "success",
          title: messageerror
        }).then(function () {
          window.location.href = '/menu';
        });
      });

    </script>
    <% } %>

</body>

</html>