<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ชื่อร้าน</title>


    <!-- boostrap css -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!--  -->

    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <style>
        * {
            padding: 0px;
            margin: 0px;

            font-family: "Kanit", sans-serif;
            font-weight: 500;
            font-style: normal;

        }

        a {
            font-size: 2rem !important;
        }
    </style>

</head>

<body>
    <div class="container-fluid mt-0 "
        style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
            <a class="navbar-brand d-flex" href="/menu">
                <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
                <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
            </a>
        </nav>
    </div>
    <div class="mt-2">
        <br>
    </div>
    <h2 class="text-center">เพิ่มรายการใหม่</h2>

    <div class="container ">
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">ชื่อผู้ค้างชำระ</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">จำนวนเงิน</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="0000">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">ข้อมูลที่อยู่</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="กรอกข้อมูลที่อยู่ลูกค้า">
            </div>
            
           
            <div class="col-12">
              <button type="submit" class="btn btn-primary">เพิ่มรายการค้างชำระ</button>
            </div>
          </form> 
    </div>

<br>
    <hr class="my-y">
    
    <h2 class="text-center mt-3">รายการค้างชำระ</h2>
    <div class="container">
        <div class="row justify-content-center">
            
                    <div class="col mt-2 product-item "
                        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
                        <form  method="post" class="d-flex justify-content-center " action="#" >
                            <div class="card pt-2" id="product-items" style="width: 22rem;">
                                <div class="d-flex justify-content-center">
                                    <h3>สถานะ :</h3>
                                    <h3 class=" " style="color: red;"> ยังไม่ชำระ</h3>
                                </div>
                                
                                <h5 class="card-title text-center ">
                                    นาย สายสอง สกสกรพก
                                </h5>
                                <div class="text-center  ">
                                    วันที่ 10/10/3215
                                </div>
                                <div class="text-center  ">
                                    1000 บาท  
                                </div>

    
                                <div class="p-2 ">
                                    <button type="submit" class="btn btn-outline-primary form-control " style="font-size: 0.8rem;">ยืนยันเพื่อเปลี่ยนสถานะ</button>
                                </div>
    
    
                            </div>
                        </form>
                    </div>

                    <div class="col mt-2 product-item "
                        style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
                        <form  method="post" class="d-flex justify-content-center " action="#" >
                            <div class="card pt-2" id="product-items" style="width: 22rem;">
                                <div class="d-flex justify-content-center">
                                    <h3>สถานะ :</h3>
                                    <h3 class=" " style="color: rgb(0, 255, 42);"> ทำรายการสำเร็จ</h3>
                                </div>
                                
                                <h5 class="card-title text-center ">
                                    นาย สายสอง สกสกรพก
                                </h5>
                                <div class="text-center  ">
                                    วันที่ 10/10/2900
                                </div>
                                <div class="text-center  ">
                                    50 บาท  
                                </div>

    
                                <div class="p-2 ">
                                    <button type="submit" class="btn btn-outline-primary form-control " style="font-size: 0.8rem;">ยืนยันเพื่อเปลี่ยนสถานะ</button>
                                </div>
    
    
                            </div>
                        </form>
                    </div>
                    <div class="col mt-2 product-item "
                    style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
                    <form  method="post" class="d-flex justify-content-center " action="#" >
                        <div class="card pt-2" id="product-items" style="width: 22rem;">
                            <div class="d-flex justify-content-center">
                                <h3>สถานะ :</h3>
                                <h3 class=" " style="color: rgb(0, 255, 42);"> ทำรายการสำเร็จ</h3>
                            </div>
                            
                            <h5 class="card-title text-center ">
                                นาย สายสอง สกสกรพก
                            </h5>
                            <div class="text-center  ">
                                วันที่ 10/10/2900
                            </div>
                            <div class="text-center  ">
                                70 บาท  
                            </div>


                            <div class="p-2 ">
                                <button type="submit" class="btn btn-outline-primary form-control " style="font-size: 0.8rem;">ยืนยันเพื่อเปลี่ยนสถานะ</button>
                            </div>


                        </div>
                    </form>
                </div>
                
                    
           
        </div>
    </div>


    <!-- boostrap js -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--  -->
</body>

</html>