<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ชื่อร้าน</title>
    
    
    <!-- boostrap css -->
  
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    
    <!--  -->

    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      *{
        padding: 0px;
        margin: 0px;
        
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
      
      }
      a{
        font-size: 2rem !important;
      }
    </style>
    
</head>
<body >
  <div class="container-fluid mt-0 "
    style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-flex"  href="/menu">
        <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
        <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
      </a>
    </nav>
</div>
  <div class="mt-2">
  
  </div>

  
  <div class="text-center pt-5">
    <h2>เพิ่ม QR code</h2>
  </div>
  
  <dir class="d-flex justify-content-center">
    <div class="d-flex align-items-center justify-content-center border border-secondary-subtle border-buttom-0 "  style="width: 18rem;" >
        <img  src="/img/ppth.png" style="width: 100%;height: auto;" >     
    </div>
    </dir>

  
  <!--  <dir class="d-flex justify-content-center">
  <div class="d-flex align-items-center justify-content-center border border-secondary-subtle border-top-0 "  style="width: 18rem;" >
      <img class="m-3" id="qrtest" src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" style="width: 15rem;height: auto;" >  
      <img class="m-3 d-none" id="myqr"  src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" style="width: 15rem;height: auto;" >        
  </div>
  </dir> --> 
 

  <dir class="d-flex justify-content-center mt-3">
    <div class="d-flex align-items-center justify-content-center "  style="width: 18rem;" >
      <div>
        <label class="mt-lg-5 mt-5 text-secondary text-center" for="file">อัปเดตข้อมูลพร้อมเพย์ของคุณ</label>
        <button class=" mt-1 btn btn-success form-control">อัปเดต</button>
      </div>  
    </div>
  </dir>
  
 
    <!-- boostrap js -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--  -->
</body>
</html>