<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ชื่อร้าน</title>
    
    
    <!-- boostrap css -->
  
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    
    <!--  -->
    <style>
      *{
        padding: 0px;
        margin: 0px;
      }
      a{
        font-size: 2rem !important;
      }
    </style>
    
</head>
<body >
  <div class="container-fluid mt-0 pb-2"
    style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
      <a class="navbar-brand" style="height: 50px;width: 200px;" href="menu">
        <img style="width:100%; height:40px;" src="/img/logo-sm.png" alt="">
      </a>
    </nav>
</div>
  <div class="mt-2">
    <br><br><br><br>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="invoice">
            <img src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" alt="" style="width: 22rem;height: auto;">
          
          </div>
        </div>
      </div>
    </div>
  </div>
     
    <!-- boostrap js -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--  -->
</body>
</html>