<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก</title>

    <!-- boostrap css -->
  
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    
    <!--  -->

</head>
<body>
    <div class="container-fluid  "  style="background-color: #ffffff;color:#000000;">
      
        <div class="row justify-content-center"">
          <div class="col-md-6">
            <div class="text-center ">
              <img  src="https://firebasestorage.googleapis.com/v0/b/vgtproject-4de15.appspot.com/o/logobig.png?alt=media&token=48d2e0b1-b136-4c69-b12b-37968ed7a718" style="max-width: 45%; heith:auto;" alt="">
            </div>
              
              <div class="mt-4 mx-2 " >
                <h4 class="card-title text-center mb-4">สมัครสมาชิก</h4>
                <form action="auth_register" method="post">
                  <div class="form-group d-flex ">        
                          <div class="input-group mb-3 ">
                          <span class="input-group-text" id="basic-addon1"> <img src="/img/cell-phone.png" style="max-width: 25px; heith:auto;" alt=""></span>
                          <input type="text" class="form-control" name="phone_number" placeholder="เบอร์โทรศัพท์" >
                          </div>
                  </div>
                  <div class="form-group d-flex ">        
                    <div class="input-group mb-3 ">
                    <span class="input-group-text" id="basic-addon1"> <img src="/img/cell-phone.png" style="max-width: 25px; heith:auto;" alt=""></span>
                    <input type="text" class="form-control" name="username" placeholder="ชื่อผู้ใช้" >
                    </div>
                  </div>
                  
                  <div class="form-group d-flex ">        
                          <div class="input-group mb-3 ">
                          <span class="input-group-text" id="basic-addon1"> <img src="/img/lock.png" style="max-width: 22px; heith:auto;" alt=""></span>
                          <input type="password" class="form-control" name="password" placeholder="รหัสผ่าน" >
                          </div>
                  </div>
                  <div class="form-group d-flex ">        
                          <div class="input-group mb-3 ">
                          <span class="input-group-text" id="basic-addon1"> <img src="/img/lock.png" style="max-width: 22px; heith:auto;" alt=""></span>
                          <input type="password" class="form-control" name="password2" placeholder="ยืนยันรหัสผ่าน" >
                          </div>
                  </div>
  
                  <div class="form-group d-flex ">        
                          <div class="input-group mb-3 ">
                          <span class="input-group-text" id="basic-addon1"> <img src="/img/user.png" style="max-width: 22px; heith:auto;" alt=""></span>
                          <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล" name="fullname" >
                          </div>
                  </div>
                 
                  

                  <div class="text-center mt-4">
                    <button   class="border border-warning form-control  " style="color:#ffffff;background-image: linear-gradient(to right, #ff9f00, #f49200, #e88500, #dc7900, #d06d00, #d06d00, #d06d00, #d06d00, #dc7900, #e88500, #f49200, #ff9f00);" > <b>สมัครสมาชิก</b> </button>
                  </div>
                  
                </form>
    
                <div class=" text-center mt-3"><a href="/" style="text-decoration:none ;color:#3E3E3E ">ล็อกอิน</a></div >


                <div class="vh-100">
                </div>
                <h1>ไอ่ไนซ์เด็กเหี้ย</h1>
              </div>
          </div>
        </div>
      </div>
    
      
      <!-- boostrap js -->
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!--  -->

</body>
</body>
</html>